#planATrip-cont {
    background-color: rgb(231, 231, 231);
    width: 1183px;
    height: 1500px;
    border: 1.5px;
    border-color: #e2d5b5;
}

#stays-container {
    border-style: solid;
    border-color: #114B5F;
    width: 96.5px;
    height: 300.5px;
    background-color: white;
    align-content: center;
    margin-left: 3%;
   
}

#stay-textarea {
    padding-left: 0%;
    
}

#stays-container-heading {
    background-color: #114B5F;
    color: white;
    height: 45px;
    margin-left: 3%;

}

#stays-container-content {
    background-color: white;
    color: black;
    height: 300px;
}

#button {
    background-color: #114B5F;
}

#budget-div {
    border: 1px;
    border-color: #114B5F;
    width: 200px;
    padding-left: 5%;
    height: 200px;
    width: 400px;
    color: black;
    background-color: white;
    align-content: center;
    margin-left: 3%;

}

#budget-heading {
    padding-left: 10%;
    padding-top: 8%;
    font-size: 18px;
}

#budget-info {
    font-size: 11px;
    font-style: italic;
}

#generate-div {
    height: 300px;
    width: 400px;
    background-color: white;
    margin-left: 3%;
}

.route-possibility {
    height: 300px;
    width: 500px;
    background-color: #114B5F;
    color: white;
}

.check-route {
    background-color: rgb(230, 220, 220);
    color: #114B5F;
    border: solid #114B5F;
    border-radius: 8px;
    

}

.output {
    width: 450px;
    height: 50px;
    background-color: white;
    color: black;
    align-content: center;
    margin-left: 2%;
}

.route-btn{
    height: 30px;
    margin-left: 5px;
}