.payment-details-box{
    height: 200px;
    width: 350px;
    background-color: #F2F2F2;
}
.confirm-booking-btn{
    background-color:#114B5F;
    color: #ffffff;
}
.confirm-booking-btn:hover{
    background-color: #0b3b4b;
    color: #F2F2F2;
}