#navbar-wrap{
    background-color:#1A936F;
    color:#F3E9D2;  
}
#navbar-logo{
    width: 200px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #114B5F;
}
.nav-item{
    margin-right: 5px;
}
.activeLink{
    color: #114B5F;
}
