#navbar-wrap{
    background-color:#1A936F;
    color:#F3E9D2;  
}
#navbar-logo{
    width: 200px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #114B5F;
}
.nav-item{
    margin-right: 5px;
}
.activeLink{
    color: #114B5F;
}

#nav{
    padding-left: 0px!important;
    padding-right: 0px !important;
}

#nav-wrap{
    margin-right: 0px;
    margin-left: 0px;
}

#signup-div{
    float: right !important;
}

@media (max-width: 991px) { 

    #signup-div{
        float: none !important;
    }
}
