#search-btn{
    width: 90px;
    height: 35px;
    margin-left: -2px;
    background-color: #114B5F;
    color: #F3E9D2;
    font-size: 14px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#search-btn:hover{
    opacity: 80%;
}

#searchbar-wrap{
    margin-top: 20px;
    margin-bottom: 40px;
}

.searchbar-input{
    height: 35px;
    padding-bottom: 12px;
}
.searchbar-input::placeholder{
    font-size: 18px;
}


.searchbar-card{
    border: none;
    background-color:#F3E9D2 ;
}

